resources:
  - name: svc-account
    type: gcp-types/iam-v1:projects.serviceAccounts
    properties:
      accountId: {{ env["deployment"] }}-svc-account
      displayName: {{ env["deployment"] }}-svc-account

  - name: svc-account-key
    type: gcp-types/iam-v1:projects.serviceAccounts.keys
    properties:
      parent: $(ref.svc-account.name)
      privateKeyType: TYPE_GOOGLE_CREDENTIALS_FILE
